{{.Domain}} {
    tls {
        client_auth {
            mode require_and_verify
            trust_pool file{{range .Servers}} {{.CACertPath}}{{end}}
        }
        # TLS 1.3 only: a single arg to `protocols` sets the minimum, pinning 1.3.
        protocols tls1.3
    }
{{range .Servers}}
    @{{.ID}} path {{.Path}}*
    handle @{{.ID}} {
        reverse_proxy {{.Upstream}} {
            flush_interval -1
            stream_close_delay {{$.StreamCloseDelay}}
            transport http {
                versions h2c 1.1
                keepalive 120s
                keepalive_idle_conns 32
            }
        }
    }
{{end}}
}
